configuration {
    modes: "window,drun,run";
    show-icons: false;
    drun {
        show-icons: true;
        display-name: "launch";
    }
    timeout {
        action: "kb-cancel";
        delay: 0;
    }
    filebrowser {
        directories-first: true;
        sorting-method:    "name";
    }
}

@theme "~/.config/rofi/coffee.rasi"
